body{
    margin:  3vw ;
    background-color: grey;
}

#content-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr ;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.521);
    margin-bottom:2vh ;
    align-items: center;
    padding: 0;
}

.hidden{
    display: none;
}

.panel{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(211, 211, 211, 0.521);
    align-content: center;
    padding: 2vh 0;
}

.tile{
    align-content: center;
    text-align: center;
    border: 2px solid black;
    width: 11vw;
    height: 11vw;
    padding-top: 2vw;
    border-radius: 20%;
    box-shadow: 3px 3px 10px black;
    font-size: 5vw;
}

#referances, #referance{
    display: none;
}

#ham{
    background: none;
    border: none;
    padding: 2vh;
}
#nav-bar li , li a{
    list-style: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#name{
    max-height: 100vw;
    text-align: center;
    padding-top: 3vh;
    font-size: 5vw;
    background-image: url('Images/274283739_4517876778324236_6004171672402064426_n.jpeg');
    background-size: cover;
    color: black;
}
#about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color:rgba(211, 211, 211, 0.521);
}

div #about-me{
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.521);
}

img{
    max-width: 100vw;
    max-height: 50vh;
    padding: 1vh ;
    border-radius: 5%;
}

p{
    padding: 0 10vw;
    font-size: 3vw;
}

#previous-works, #projects{
height: 40vh;
}

/* tiles location for ordering */
.left{ 
    order: 1;
}
.btn1{ 
    order: 2;
    margin-top: 8vw;
    height: fit-content;
    background: none;
    border: none;
}
.center{
    order: 3;
    height: 20vh;
    width: 20vh;
}
.btn2{ 
    order:4;
    margin-top: 8vw;
    height: fit-content;
    background: none;
    border: none;
}
.right{
    order: 5;
}

/* styling for titles */
h1{
    font-size:7vw;
}
h2{
    font-size: 5vh;
    text-align: center;
    margin: 1rem;
}

footer div {
    height: 5vh;
}

/* styles for desktop view */
@media (min-width: 426px) {

    #content-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 2fr .5fr .2fr;
    }

    #referances, #referance{
        display: unset;
    }

    #referances{
        height: 20vh;
    }

    #ham{
        display: none;
    }

    #nav-bar{
        flex-direction: row;
        justify-content: space-around;
        font-size: 3vw;
        padding: 2vw;
    }
}